version: "3.8"

services:
  jenkins:
    build:
      context: ./jenkins
      args:
        DOCKER_GID: 137
    container_name: devsecops-project-jenkins
    ports:
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_home:/var/jenkins_home
    restart: unless-stopped

volumes:
  jenkins_home:

