services:
  jenkins:
    build:
      context: ./jenkins
      args:
        DOCKER_GID: 137
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  jenkins_home:
